
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.popup_menu {
	font-size: 18pt;
	color: white;
	background-color: #ccc;
	width: 100px;
	height: 100px;
}

.panel-button-salah {
    padding: auto 20px;
    text-align: center;
}

.panel-button-salah:hover {
}